.SendMessageForm {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.SendMessageForm .chat-input {
    margin-bottom: -2px;
}

.SendMessageForm .sender {
    position: absolute;
    width: 40px;
    bottom: 35px;
    right: 50px;
    cursor: pointer;
    z-index: 1000;
    background: white;
    border: none
}